<section id="explore">
  <div id="explore-info">
    <p>Explore</p>
    <h2>Discover Our Most Popular Yoga Programs</h2>
    <p>
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
  </div>
  <ul>
    <li>
      <img
        src="/img/beginner-yoga.jpg"
        alt="Beginner yoga"
        width="421.33"
        height="240"
      />
      <h3>Beginner Yoga: Foundations</h3>
      <p>Learn the basics of yoga in a supportive environment.</p>
    </li>
    <li>
      <img
        src="img/vinyasa-flow.jpg"
        alt="Vinyasa-flow"
        width="421.33"
        height="240"
      />
      <h3>Vinyasa Flow: Energize Your Body and Mind</h3>
      <p>Experience a dynamic sequence that connects breath and movement.</p>
    </li>
    <li>
      <img
        src="/img/restorative-yoga.jpg"
        alt="Restorative-yoga"
        width="421.33"
        height="240"
      />
      <h3>Restorative Yoga: Deep Relaxation and Healing</h3>
      <p>Unwind and rejuvenate with gentle poses and mindfulness.</p>
    </li>
  </ul>

  <button type="button">Join now</button>
</section>
