<footer>
  <div id="footer-container">
    <div class="footer-subscribe">
      <a href="#"
        ><img src="/img/logo-yoga-bloom.png" alt="Logo Yoga Bloom" width="84"
      /></a>
      <p>
        Subscribe to our newsletter for the latest updates on our yoga clases
        and events.
      </p>
      <div class="footer-form">
        <form action="">
          <input
            type="text"
            name="email"
            id=""
            placeholder="Enter your email"
          />
        </form>
        <button type="button">Join</button>
      </div>
      <p>
        By subscribing, you consent to our Privacy Policy and agree to receive
        updates.
      </p>
      <p>© 2025 Yoga Studio. All rights reserved.</p>
    </div>

    <ul class="footer-links">
      Quick Links
      <li><a href="#">Yoga Classes</a></li>
      <li><a href="#">Team</a></li>
      <li><a href="#">Pricing</a></li>
      <li><a href="#">Contacts</a></li>
    </ul>

    <ul class="footer-contacts">
      Connect With Us
      <li><!-- icon --><a href="#">Facebook</a></li>
      <li><!-- icon --><a href="#">Instagram</a></li>
      <li><!-- icon --><a href="#">LinkedIn</a></li>
      <li><!-- icon --><a href="#">YouTube</a></li>
    </ul>
  </div>
</footer>
