<section id="gallery">
  <div class="gallery-info">
    <h2>Breathe in the Space</h2>
    <p>
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
  </div>
  <div class="gallery-images">
    <ul>
      <li>
        <img
          src="/img/yoga-1.jpg"
          alt="yoga-class-1"
          width="421.33"
          height="448"
        />
      </li>
      <li>
        <img
          src="/img/yoga-2.jpg"
          alt="yoga-class-2"
          width="421.33"
          height="448"
        />
      </li>
      <li>
        <img
          src="/img/yoga-3.jpg"
          alt="yoga-class-3"
          width="421.33"
          height="448"
        />
      </li>
      <li>
        <img
          src="/img/yoga-4.jpg"
          alt="yoga-class-4"
          width="421.33"
          height="448"
        />
      </li>
      <li>
        <img
          src="/img/yoga-5.jpg"
          alt="yoga-class-5"
          width="421.33"
          height="448"
        />
      </li>
      <li>
        <img
          src="/img/yoga-6.jpg"
          alt="yoga-class-6"
          width="421.33"
          height="448"
        />
      </li>
    </ul>
  </div>
</section>
