<section id="rewiews">
  <div class="rewiews-info">
    <h2>Testimonials</h2>
    <p>What our happy clients say</p>
  </div>
  <div>
    <ul>
      <li>
        <p>
          YogaBloom is a true sanctuary for the mind and body. The classes are
          thoughtfully guided, the atmosphere is calming, and every session
          leaves me feeling more centered, flexible, and recharged. Highly
          recommended for anyone seeking balance and inner peace.
        </p>
        <img
          src="/img/donna-norman.png"
          alt="Donna Norman - Yoga Enthusiast"
          width="56"
          height="56"
        />
        <p>Donna Norman</p>
        <p>Yoga Enthusiast</p>
      </li>
      <li>
        <p>
          I've tried many yoga studios, but YogaBloom stands out with its
          welcoming energy and inspiring instructors. Every class feels like a
          journey inward. It's now my favorite part of the week.
        </p>
        <img
          src="/img/sophie-delgado.png"
          alt="ophie Delgado - Marketing Specialist"
          width="56"
          height="56"
        />
        <p>Sophie Delgado</p>
        <p>Marketing Specialist</p>
      </li>
      <li>
        <p>
          YogaBloom helped me reconnect with myself. The sessions are
          well-paced, the space is beautiful, and the community is truly
          supportive. A perfect place to grow both physically and mentally.
        </p>
        <img
          src="/img/rachel-kimura.png"
          alt="Rachel Kimura - Freelance Illustrator"
          width="56"
          height="56"
        />
        <p>Rachel Kimura</p>
        <p>Freelance Illustrator</p>
      </li>
      <li>
        <p>
          Whether you're new to yoga or a long-time practitioner, YogaBloom
          offers something special. The mindful approach and soothing guidance
          make each class a peaceful escape from daily stress.
        </p>
        <img
          src="/img/emma-hart.png"
          alt="Emma L. Hart - University Student & Part-time Barista"
          width="56"
          height="56"
        />
        <p>Emma L. Hart</p>
        <p>University Student & Part-time Barista</p>
      </li>
    </ul>
  </div>
</section>
