<section id="team">
  <div id="team-info">
    <p>Meet</p>
    <h2>Our Team</h2>
    <p>Dedicated professionals passionate about yoga and wellness.</p>
  </div>

  <ul>
    <li>
      <img
        src="/img/yoga-instructor.jpg"
        alt="Yoga Instructor Liam"
        width="421.33"
        height="395"
      />
      <p>Liam Johnson</p>
      <p>Yoga Instructor</p>
      <p>Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
      <a href="#"><!-- icon --></a>
      <a href="#"><!-- icon --></a>
    </li>

    <li>
      <img
        src="/img/meditation-coach.jpg"
        alt="Meditation Coach Emma"
        width="421.33"
        height="395"
      />
      <p>Liam Johnson</p>
      <p>Yoga Instructor</p>
      <p>Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
      <a href="#"><!-- icon --></a>
    </li>

    <li>
      <img
        src="/img/pilates-trainer.jpg"
        alt="Pilates Trainer Sophia"
        width="421.33"
        height="395"
      />
      <p>Liam Johnson</p>
      <p>Yoga Instructor</p>
      <p>Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
      <a href="#"><!-- icon --></a>
    </li>

    <li>
      <img
        src="/img/yoga-therapist.jpg"
        alt="Yoga Therapist Noah"
        width="421.33"
        height="395"
      />
      <p>Liam Johnson</p>
      <p>Yoga Instructor</p>
      <p>Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
      <a href="#"><!-- icon --></a>
    </li>

    <li>
      <img
        src="/img/fitness-trainer-ava.jpg"
        alt="Fitness Trainer Ava"
        width="421.33"
        height="395"
      />
      <p>Liam Johnson</p>
      <p>Yoga Instructor</p>
      <p>Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
      <a href="#"><!-- icon --></a>
      <a href="#"><!-- icon --></a>
    </li>

    <li>
      <img
        src="/img/fitness-trainer-clark.jpg"
        alt="Fitness Trainer Clark"
        width="421.33"
        height="395"
      />
      <p>Liam Johnson</p>
      <p>Yoga Instructor</p>
      <p>Emma has over 10 years of experience in Hatha and Vinyasa yoga.</p>
      <a href="#"><!-- icon --></a>
      <a href="#"><!-- icon --></a>
    </li>
  </ul>
</section>
